In [1]:
import os
import datetime
import pandas as pd
import sqlite3

# 일별 좌석점유율

In [ ]:
# 일별 좌석점유율 http://www.kobis.or.kr/kobis/business/stat/boxs/findDailySeatTicketList.do
    
NAME = 'findDailySeatTicketList'
URL = f'http://www.kobis.or.kr/kobis/business/stat/boxs/{NAME}.do'

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()
    end_date = (date + datetime.timedelta(days=6)).isoformat()
    print(start_date, '~', end_date)
    os.system(f'curl "{URL}?loadEnd=0&dmlMode=excel&' \
              f'startDate={start_date}&endDate={end_date}&repNationCd=1&searchType=2"' \
              f' > 일별좌석점유율-{start_date}.html')
    date += datetime.timedelta(days=7)

In [ ]:
df = pd.DataFrame()

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()

    seat = pd.read_html(f'일별좌석점유율-{start_date}.html', encoding='utf-8')

    for i in range(1,8)[::-1]:
         df2 = seat[i][:-1]
         df = pd.concat([df, df2])
        
    date += datetime.timedelta(days=7)

In [ ]:
connection = sqlite3.connect('seat.db')
df.to_sql('seat_daily_propotion', connection, index=False
#           , if_exists='replace' # 같은 db 에 덮어쓰는 코드
         )
pd.read_sql('select * from seat_daily_propotion', connection)

# 일별 상영점유율

In [ ]:
# 일별 상영점유율 http://www.kobis.or.kr/kobis/business/stat/boxs/findDailyShowTicketList.do

NAME = 'findDailyShowTicketList'
URL = f'http://www.kobis.or.kr/kobis/business/stat/boxs/{NAME}.do'

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()
    end_date = (date + datetime.timedelta(days=6)).isoformat()
    print(start_date, '~', end_date)
    os.system(f'curl "{URL}?loadEnd=0&dmlMode=excel&' \
              f'startDate={start_date}&endDate={end_date}&repNationCd=1"' \
              f' > 일별상영점유율-{start_date}.html')
    date += datetime.timedelta(days=7)

In [ ]:
df = pd.DataFrame()

date = datetime.date(2015, 1, 1)

# while date < datetime.date(2015, 1, 15): # 테스트용
while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()

    seat = pd.read_html(f'일별상영점유율-{start_date}.html', encoding='utf-8')

    for i in range(1,8)[::-1]:
         df2 = seat[i][:-1]
         df = pd.concat([df, df2])
        
    date += datetime.timedelta(days=7)

In [ ]:
connection = sqlite3.connect('show.db')
df.to_sql('show_daily_propotion', connection, index=False
#           , if_exists='replace' # 같은 db 에 덮어쓰는 코드
         )
pd.read_sql('select * from show_daily_propotion', connection)

# 일별 스크린점유율

In [ ]:
# 일별 스크린점유율 http://www.kobis.or.kr/kobis/business/stat/boxs/findDailyScreenTicketList.do
NAME = 'findDailyScreenTicketList'
URL = f'http://www.kobis.or.kr/kobis/business/stat/boxs/{NAME}.do'

date = datetime.date(2015, 1, 1)

while date < datetime.date(2015, 1, 15): # 테스트용
# while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()
    end_date = (date + datetime.timedelta(days=6)).isoformat()
    print(start_date, '~', end_date)
    os.system(f'curl "{URL}?loadEnd=0&dmlMode=excel&' \
              f'startDate={start_date}&endDate={end_date}&repNationCd=1"' \
              f' > 일별스크린점유율-{start_date}.html')
    date += datetime.timedelta(days=7)

In [ ]:
df = pd.DataFrame()

date = datetime.date(2015, 1, 1)

while date < datetime.date(2015, 1, 15): # 테스트용
# while date < datetime.date(2019, 11, 1):
    start_date = date.isoformat()

    seat = pd.read_html(f'일별스크린점유율-{start_date}.html', encoding='utf-8')

    for i in range(1,8)[::-1]:
         df2 = seat[i][:-1]
         df = pd.concat([df, df2])
        
    date += datetime.timedelta(days=7)

In [ ]:
connection = sqlite3.connect('screen.db')
df.to_sql('show_daily_propotion', connection, index=False
#           , if_exists='replace' # 같은 db 에 덮어쓰는 코드
         )
pd.read_sql('select * from show_daily_propotion', connection)

# 상영내역

In [2]:
# 상영내역 http://www.kobis.or.kr/kobis/business/mast/thea/findShowHistorySc.do

URL = f'http://www.kobis.or.kr/kobis/business/mast/thea/findShowHistoryScXls.do'

theater = pd.read_csv('theaters_191128.csv')['영화상영관명']
len(theater)

553

In [3]:
theater[theater=='합천시네마']

64    합천시네마
Name: 영화상영관명, dtype: object

작업량 분배

In [ ]:
# 우주
for i in theater[64:164]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 민주
for i in theater[164:264]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 다영
for i in theater[264:364]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 한슬
for i in theater[364:464]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')

In [ ]:
# 재민
for i in theater[464:]:
    sTheaNm = i.strip().replace(' ', '%20')
    os.system(f'curl "{URL}?theaCd=001123&theaArea=Y&showStartDt=2015-01-01&showEndDt=2019-10-31&choice=2&sTheaNm={sTheaNm}"' \
              f' > 상영내역-{sTheaNm}.html')